{{ $email := promptString "Git email address: " -}}
{{ $personal := promptBool "Is this a personal computer? (as opposed to a *work* machine) " -}}

{{/* boolean feature tags */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- "" -}}

{{- $osID := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{/* work around unreliable hostname on darwin */}}
{{- $hostname := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $computerName := output "scutil" "--get" "ComputerName" | trim -}}
{{-   $hostname = $computerName -}}
{{- end -}}

{{- if eq .chezmoi.os "windows" -}}
{{- end -}}

{{- if eq $hostname "Sesame" -}}
{{-   $headless = true -}}
{{- end -}}

[data]
    headless = {{ $headless }}
    hostname = {{ $hostname | quote }}
    personal = {{ $personal }}
    osid = {{ $osID | quote }}

[diff]
    exclude = ["scripts", "externals"]
    pager = "delta"

[pinentry]
    command = "pinentry-mac"

[secret]
    command = "rbw"
