{{- if (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env bash
set -ufo pipefail

bundleid_of() {
  osascript -e "id of application \"$1\"" > /dev/null 2>&1
}

# CLI Apps
{{ $brews := list
        "asdf"
        "atuin"
        "bat"
        "bottom"
        "brew-cask-completion"
        "cloc"
        "curl"
        "coreutils"
        "exa"
        "fish"
        "git"
        "git-delta"
        "git-quick-stats"
        "jq"
        "micro"
        "openssl"
        "poppler"
        "ssh-copy-id"
        "starship"
        "terminal-notifier"
        "svn"
        "tldr"
        "wakeonlan"
        "wget"
        "youtube-dl"
        "yq"
        "zoxide"
 -}}

# GUI Apps
{{ $casks := list
        "alfred"
        "alt-tab"
        "audio-hijack"
        "bitwarden"
        "clipy"
        "coconutbattery"
        "disk-inventory-x"
        "dozer"
        "fanny"
        "finicky"
        "firefox-developer-edition"
        "flux"
        "fork"
        "forklift"
        "google-chrome"
        "gpg-suite-no-mail"
        "hammerspoon"
        "iina"
        "imageoptim"
        "istat-menus"
        "iterm2"
        "keka"
        "noti"
        "pdf-expert"
        "postman"
        "rectangle"
        "slack"
        "shottr"
        "spotify"
        "sublime-text"
        "teamviewer"
        "telegram"
        "visual-studio-code"
        "whatsapp"
        "zoom"
-}}

# Quicklook plugins
{{   $casks = concat $casks (list
        "qlcolorcode"
        "qlstephen"
        "qlmarkdown"
        "quicklook-json"
        "qlprettypatch"
        "quicklook-csv"
        "betterzip"
        "webpquicklook"
        "suspicious-package"
        "qlimagesize"
        "mdimagesizemdimporter"
      )
 -}}

# Fonts
{{   $casks = concat $casks (list
        "font-jetbrains-mono"
        "font-fira-code-nerd-font"
        "font-fira-mono-for-powerline"
        "font-cascadia-code-pl"
        "font-cascadia-mono-pl"
      )
 -}}

{{- if .personal -}}
{{    $casks = concat $casks (list
        "airtable"
        "android-platform-tools"
        "dropbox"
        "farrago"
        "google-drive"
        "lulu"
        "obsidian"
        "pycharm-ce"
        "qbittorrent"
        "skype"
      )
-}}
{{ end -}}

{{- if and .personal (not .hasAppleSilicon) -}}
{{    $casks = concat $casks (list
        "keybase"
      )
-}}
{{ end -}}


all_brews=({{ range ($brews | sortAlpha | uniq) -}}{{ . }} {{ end -}})
already_installed_brews=($(brew leaves))
all_casks=({{ range ($casks | sortAlpha | uniq) -}}{{ . }} {{ end -}})
already_installed_casks=($(brew list --cask))

brews_to_install=()
for brew in "${all_brews[@]}"; do
    if [[ ! " ${already_installed_brews[*]} " =~ " ${brew} " ]]; then
        brews_to_install+=($brew)
    fi
done

# Where do casks typically go?
# Apps                          → /Applications
# QuickLook plugins             → ~/Library/QuickLook
# Spotlight metadata importers  → ~/Library/Spotlight

casks_to_install=()
for cask in "${all_casks[@]}"; do
    if [[ ! " ${already_installed_casks[*]} " =~ " ${cask} " ]]; then
      cask_info=$(brew info --cask ${cask})
      cask_name=$(echo "${cask_info}" | grep -E "\(App|Spotlight metadata importer|QuickLook Plugin\)" | awk 'BEGIN{FS=OFS="("}{NF--; print}' | awk '{$1=$1};1')

      echo "${cask_info}" | grep -qE "\(App\)"
      is_app=$?
      echo "${cask_info}" | grep -qE "\(QuickLook Plugin\)"
      is_quicklookplugin=$?
      echo "${cask_info}" | grep -qE "\(Spotlight metadata importer\)"
      is_spotlight_metadata_importer=$?

      if [[ $is_app ]]; then
          bundleid_of "${cask_name}"
      elif [[ $is_quicklookplugin ]]; then
          ls  ~/Library/QuickLook/"${cask_name}" > /dev/null 2>&1
      elif [[ $is_spotlight_metadata_importer ]]; then
          ls  ~/Library/Spotlight/"${cask_name}" > /dev/null 2>&1
      fi

      is_installed=$?

      if [[ "${is_installed}" == "1" ]]; then
        casks_to_install+=($cask)
      fi
    fi
done

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"

$(
  if (( ${#brews_to_install[@]} )); then
    for brew in "${brews_to_install[@]}"; do
        echo brew \"${brew}\"
    done
  fi
)

$(
  if (( ${#casks_to_install[@]} )); then
    for cask in "${casks_to_install[@]}"; do
        echo cask \"${cask}\"
    done
  fi
)

# GUI Apps from App Store
mas "Amphetamine", id: 937984704
mas "ColorSlurp", id: 1287239339
EOF
{{ end -}}
