{{- if (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env bash
set -eufo pipefail

# Ask for the administrator password up front
echo "We'll need superuser privileges to configure the OS, so..."
sudo -v

# Keep-alive: update existing `sudo` timestamp until the current script has finished
while true; do sudo -n true; sleep 60; kill -0 "$$" || exit; done 2>/dev/null &

# Set computer name (as done via System Preferences → Sharing)
read -rp "Provide a hostname for this computer (no spaces): " HOSTNAME
sudo scutil --set ComputerName "$HOSTNAME}"
sudo scutil --set HostName "$HOSTNAME"
sudo scutil --set LocalHostName "$HOSTNAME"
sudo defaults write /Library/Preferences/SystemConfiguration/com.apple.smb.server NetBIOSName -string "$HOSTNAME"

echo "This computer is now known as \"$HOSTNAME\"."
{{- end -}}
