{{ if .has_apple_silicon -}}
#!/usr/bin/env bash
set -eufo pipefail

if /usr/bin/pgrep oahd >/dev/null 2>&1; then
    echo "Rosetta is already installed and running. Nothing to do."
else
    /usr/sbin/softwareupdate -install-rosetta -agree-to-license
    
    if [[ $? -eq 0 ]]; then
        echo "Rosetta has been successfully installed."
    else
        echo "Rosetta installation failed!"
    fi
fi
{{- end }}
